body {
  background-image: url(background.png);
}

#form, #card {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 50%;
}

.btn-primary {
	width: 50%;
	position:relative;
	top: 50%;
  	left:50%;
  	transform: translate(-50%,-50%);
}

#card {
  background-color: white ; 
  border-radius: 20px;
  padding: 10px;
  border: 2px solid black;
}

.glyphicon-star-empty, .glyphicon-star {
  width: 20%;
  font-size: 50px;
  text-align : center;
  color : gold;
  text-shadow: 2px 2px black;;
}